In [6]:
import pandas as pd

trips = pd.read_csv('rt_trips_2017_I_DB_1000.txt', sep=";")
leavetimes = pd.read_csv('rt_leavetimes_2017_I_DB_1000.txt', sep=";")

In [7]:
leavetimes

,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,DB,27-MAR-17 00:00:00,4529349,5,4384,51343,51343,51476,51476,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
1,DB,27-MAR-17 00:00:00,4529349,10,523,51544,51544,51744,51763,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
2,DB,27-MAR-17 00:00:00,4529349,15,4382,51764,51764,52048,52077,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
3,DB,27-MAR-17 00:00:00,4529349,20,1223,52044,52044,52340,52340,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
4,DB,27-MAR-17 00:00:00,4529349,25,1228,52343,52343,52629,52637,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
5,DB,27-MAR-17 00:00:00,4529349,30,1231,52793,52793,53076,53076,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
6,DB,27-MAR-17 00:00:00,4529349,35,5174,52995,52995,53252,53252,1000211,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
7,DB,27-MAR-17 00:00:00,4534742,43,79,86061,86061,86010,86010,1001205,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
8,DB,27-MAR-17 00:00:00,4534742,48,819,86305,86305,86206,86206,1001205,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
9,DB,27-MAR-17 00:00:00,4519838,5,7017,68609,68609,68556,68556,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
10,DB,27-MAR-17 00:00:00,4519838,10,6112,68844,68844,68799,68799,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
11,DB,27-MAR-17 00:00:00,4519838,15,1860,69089,69089,69076,69076,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
12,DB,27-MAR-17 00:00:00,4519838,20,1864,69235,69235,69197,69211,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
13,DB,27-MAR-17 00:00:00,4519838,25,4489,69397,69397,69386,69386,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
14,DB,27-MAR-17 00:00:00,4519838,30,1696,70047,70047,70032,70047,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
15,DB,27-MAR-17 00:00:00,4519838,35,1701,70206,70206,70274,70287,1000613,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
16,DB,27-MAR-17 00:00:00,4523864,34,499,42373,42373,42017,42028,2534847,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
17,DB,27-MAR-17 00:00:00,4523864,39,7320,42682,42682,42298,42307,2534847,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
18,DB,27-MAR-17 00:00:00,4523864,44,1490,42891,42891,42498,42498,2534847,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
19,DB,27-MAR-17 00:00:00,4526398,5,1423,36301,36301,36135,36135,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
20,DB,27-MAR-17 00:00:00,4526398,10,4399,36565,36565,36378,36378,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
21,DB,27-MAR-17 00:00:00,4526398,15,1466,36774,36774,36557,36557,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
22,DB,27-MAR-17 00:00:00,4526398,20,4514,37084,37084,36777,36788,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
23,DB,27-MAR-17 00:00:00,4526398,25,1998,37462,37462,37037,37069,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
24,DB,27-MAR-17 00:00:00,4526398,29,1359,37948,37948,37441,37460,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
25,DB,27-MAR-17 00:00:00,4526398,34,499,38773,38773,38304,38322,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
26,DB,27-MAR-17 00:00:00,4533879,11,4481,40348,40348,41182,41202,2534820,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
27,DB,27-MAR-17 00:00:00,4533879,16,825,40563,40563,41428,41438,2534820,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
28,DB,27-MAR-17 00:00:00,4533879,20,72,40715,40715,41605,41605,2534820,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
29,DB,27-MAR-17 00:00:00,4533879,25,5145,41077,41077,41928,41928,2534820,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,DB,27-MAR-17 00:00:00,4536234,42,3682,49527,49527,49386,49386,1001196,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
970,DB,27-MAR-17 00:00:00,4536234,47,4912,49679,49679,49507,49507,1001196,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
971,DB,27-MAR-17 00:00:00,4525953,1,288,53400,53400,53366,53366,1001237,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
972,DB,27-MAR-17 00:00:00,4521828,17,2118,75726,75726,75993,75993,1001187,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
973,DB,27-MAR-17 00:00:00,4519283,30,2897,35613,35613,35543,35543,2406890,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
974,DB,27-MAR-17 00:00:00,4519283,35,885,35894,35894,35950,35950,2406890,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
975,DB,27-MAR-17 00:00:00,4519283,40,2902,36162,36162,36244,36253,2406890,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
976,DB,27-MAR-17 00:00:00,4519283,46,495,36939,36939,37131,37147,2406890,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
977,DB,27-MAR-17 00:00:00,4527579,3,2965,37886,37886,37856,37856,2406886,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
978,DB,27-MAR-17 00:00:00,4527579,8,2942,38111,38111,38059,38059,2406886,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
979,DB,27-MAR-17 00:00:00,4527579,13,2947,38313,38313,38199,38217,2406886,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
980,DB,27-MAR-17 00:00:00,4527579,18,1309,38544,38544,38439,38458,2406886,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
981,DB,27-MAR-17 00:00:00,4527579,22,1313,38749,38749,38592,38592,2406886,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
982,DB,27-MAR-17 00:00:00,4525040,40,2014,43890,43890,43658,43658,1000574,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
983,DB,27-MAR-17 00:00:00,4525040,45,2018,44108,44108,43777,43777,1000574,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
984,DB,27-MAR-17 00:00:00,4525040,50,4565,44384,44384,44085,44085,1000574,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
985,DB,27-MAR-17 00:00:00,4525040,55,2033,44678,44678,44291,44291,1000574,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
986,DB,27-MAR-17 00:00:00,4532877,1,807,39840,39840,39834,39834,1000152,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
987,DB,27-MAR-17 00:00:00,4532877,6,812,40138,40138,40261,40276,1000152,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
988,DB,27-MAR-17 00:00:00,4532877,11,818,40556,40556,40658,40689,1000152,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
989,DB,27-MAR-17 00:00:00,4532877,16,406,41329,41329,41542,41580,1000152,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
990,DB,27-MAR-17 00:00:00,4532877,20,846,41704,41704,41905,41924,1000152,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
991,DB,27-MAR-17 00:00:00,4527341,53,2574,57761,57761,57636,57654,1001060,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
992,DB,27-MAR-17 00:00:00,4527963,2,7640,22546,22546,22553,22553,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
993,DB,27-MAR-17 00:00:00,4527963,4,3224,22690,22690,22714,22742,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
994,DB,27-MAR-17 00:00:00,4527963,9,3229,22897,22897,22959,22959,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
995,DB,27-MAR-17 00:00:00,4527963,14,3239,23140,23140,23188,23201,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
996,DB,27-MAR-17 00:00:00,4527963,19,2041,23343,23343,23389,23401,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
997,DB,27-MAR-17 00:00:00,4527963,24,3075,23513,23513,23567,23577,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
998,DB,27-MAR-17 00:00:00,4527963,29,3084,23727,23727,23808,23828,1930282,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN